.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.storybook-button--primary {
  background-color: #555ab9;
  color: white;
}
.storybook-button--primary:hover {
  background-color: #3474d9;
}
.storybook-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}
.storybook-button--small {
  padding: 10px 16px;
}
.storybook-button--medium {
  padding: 11px 20px;
}
.storybook-button--large {
  padding: 12px 24px;
}

/* Anchor */

.anchor-btn {
  padding: 0 16px 0 0;
}

.anchor-btn.storybook-button--small {
  padding: 0 12px 0 0;
}

.anchor-btn__arrow {
  position: absolute;
  right: 0;
  transition: transform .3s, color .3s, -webkit-transform .3s;
  padding: 0;
}

.anchor-btn:hover .anchor-btn__arrow {
  transform: translateX(6px);
}

.anchor-btn__arrow.storybook-button--small {
  font-size: 8px;
}
.anchor-btn__arrow.storybook-button--medium,
.anchor-btn__arrow.storybook-button--large {
  font-size: 12px;
}

.anchor-btn__angle {
  font-size: 8px;
  font-weight: 900;
  position: absolute;
  right: 8px;
  margin-top: 7px;
  border-bottom: 2px solid transparent;
}

.anchor-btn.btn__angle:hover {
  text-decoration: underline;
}

.anchor-btn:hover .anchor-btn__angle {
  border-bottom: 2px solid;
}