.cmp-nav__wrapper {
    border-top: 4px solid transparent;
}

.cmp-nav__wrapper:has(.cmp-nav__title:focus-visible),
.cmp-nav__wrapper:hover {
    border-top: 4px solid #fe000c
}

.cmp-nav__list {
    width: max-content;
    min-width: 300px;
    display: none;
    padding: 40px 23px;
    border: 1px solid #d1d3d4;
    z-index: 99;
    background: #fff;
}

.cmp-nav__wrapper.active .cmp-nav__list {
    display: block;
    top: 100px;
}

.cmp-nav__list:empty,
.cmp-nav__wrapper.active .cmp-nav__list:empty {
    padding: 0;
    margin: 0;
}

.cmp-nav__wrapper.active {
    border-top: 4px solid #fe000c;
}

.cmp-nav__wrapper.active .cmp-nav__title {
    color: #fe000c;
}

.cmp-nav__sublist-title {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}

.cmp-nav__sublist-title:hover {
    color: #fe000c;
}

.cmp-nav__sublist-item:hover a {
    text-decoration: underline;
    text-underline-offset: 2px;
}

@media (max-width: 768px) {
    .cmp-nav__wrapper {
        border-top: 1px solid transparent;
    }

    .cmp-nav__wrapper.active {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .cmp-nav__wrapper.active .cmp-nav__list {
        top: 16px;
        position: relative;
        width: 100%;
    }

    .cmp-nav__wrapper:has(.cmp-nav__title:focus-visible),
    .cmp-nav__wrapper:hover {
        border-top: 1px solid rgba(0, 0, 0, 0.1)
    }
}