.cta-blueBg-white {
    padding: 10px 50px;
    text-align: center;
    background-color: #0e469b;
    color: #fff
}

.cta-blueBg-white:hover {
    background-color: #3474d9;
}

.info-text {
    font-size: 13px;
    line-height: 22px;
    color: #2b2626;
    margin-bottom: 10px;
}

.hero-title--align .cmp-hero-wrapper .cmp-hero__content {
    margin: auto;
}
.hero-title--align .cmp-hero-wrapper .cmp-hero__content .cmp-hero__cta {
    display: flex;
    justify-content: center;
}

.hero-title--align .cmp-hero__cta a{
    background-color: #0e469b
}

.hero-title--align .cmp-hero__cta a:hover {
    background-color: #0a58ca;
}

.surfacedItem-container .surfaced-item-description .cmp-hero__cta button{
    background-color: white !important;
    padding: 0 !important;
    box-shadow: none !important;
    text-align: left;
    font-weight: 300;
}

.surfacedItem-container .surfaced-item-content .cmp-hero__cta {
    color: #0e469b;
    text-decoration: underline;
}
